.task {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: .25rem .5rem;

  &:hover {
    .icon:not(.tick-icon) {
      display: block;
    }
  }

  .task-body {
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  p.large {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .priority-bubble {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 2px solid var(--neutral-50);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    .tick-icon {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &[data-completed="true"] {
    text-decoration: line-through;
    color: var(--neutral-50);

    p.desc, .tag {
      display: none;
    }
  }

  &[data-completed="true"] .priority-bubble, .priority-bubble:hover {
    .tick-icon {
      display: block;
    }
  }

  .priority-high {
    background-color: var(--red-low);
    border-color: var(--red);
    svg {
      fill: var(--red);
    }
  }

  .priority-medium {
    background-color: var(--yellow-low);
    border-color: var(--yellow);
    svg {
      fill: var(--yellow);
    }
  }

  .priority-low {
    background-color: var(--light-blue-low);
    border-color: var(--light-blue);
    svg {
      fill: var(--light-blue);
    }
  }

  .priority-none {
    svg {
      fill: var(--neutral-50);
    }
  }

  .overdue-tag {
    color: var(--red);
    background: var(--red-low);
  }

  .yesterday-tag {
    color: var(--orange);
    background: var(--orange-low);
  }

  .today-tag {
    color: var(--accent);
    background: var(--accent-low);
  }

  .tomorrow-tag {
    color: var(--purple);
    background: var(--purple-low);
  }

  .this-week-tag {
    color: var(--yellow);
    background: var(--yellow-low);
  }

  .after-this-week-tag {
    color: var(--light-blue);
    background: var(--light-blue-low);
  }

  .icon:not(.tick-icon) {
    display: none;
    cursor: pointer;
  }

  .edit-icon {
    margin-left: auto;
  }

  p.desc {
    overflow-wrap: break-word;
  }
}