.text-accent {
  color: var(--accent);
}

.text-50 {
  color: var(--neutral-50);
}

.y-scroll {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-20) transparent;
}